#home {
  table {
    border-collapse: separate;
    border-spacing: 50px 9px;

    tbody {
      select {
        width: 100%;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
      }
    }
  }
}
